{% extends "base.html" %}
<head>

  </head>
{% block content %}

<div class="container project-container" id="portfolio">
      <div id="work-section">
        
        <div class="row">
          <div class="container">
            <div class="project-img col-sm-6 col-xs-9 col-xs-offset-1 col-sm-offset-0">
              <br></br>
            <a href="https://NotableDemandingTrialsoftware--nakagawa333.repl.co" target="_blank" class="project project-title">   
          <img src="https://gdurl.com/BzTk" alt=""  class="img-responsive img-thumbnail"  >
            </div>
            <div class="projects-info col-sm-6 col-xs-9 col-xs-offset-1 col-sm-offset-0">
               <br></br>
              <a href="" style="text-decoration:none" target="_blank"><h3>シンプルな電卓</h3></a>
              <p>HTMLとCSS、JavascriptのライブラリあるjQueryで作成しました。</p>
                <p>
                  <span class="technologies-used">
                    <span class="label label-danger">HTML</span>
                    <span class="label label-primary">CSS</span>
                    <span class="label label-default">jQuery</span>
                  </span>
                  </p>
                  <div class="project-buttons">
                    <a href="" class="btn btn-default btn-sm" role="button" target="_blank"><i class="fab fa-codepen fa-2x"></i></a>
               <a href="https://github.com/nakagawa333/calculator" class="btn btn-default btn-sm" role="button" target="_blank"><i class="fab fa-github fa-2x"></i></a>
                    </button></a><br><br><br><br>

      </div>
          </div>
        </div>
      </div>
      <br><br>
      </div>
      </div>


      <div class="container project-container">
      <div id="work-section">
        
        <div class="row">
          <div class="container">
            <div class="project-img col-sm-6 col-xs-9 col-xs-offset-1 col-sm-offset-0">
              
              
            <a href="https://SarcasticBonyCollaborativesoftware--nakagawa333.repl.co" target="_blank" class="project">
              <img src="https://gdurl.com/Enzi" alt="" id="img" class="img-responsive img-thumbnail" >
              </a>
            </div>
            <div class="projects-info col-sm-6 col-xs-9 col-xs-offset-1 col-sm-offset-0">
               
              <a href="" style="text-decoration:none" target="_blank"><h3>ITエンジニア向けの調査書</h3></a>
              <p>ITエンジニア向けの調査書をHTMLとcssだけで作成しました。</p>
                <p>
                  <span class="technologies-used">
                    <span class="label label-danger">HTML</span>
                    <span class="label label-primary">CSS</span>
                  </span>
                  </p>
                  <div class="project-buttons">
                    <a href="" class="btn btn-default btn-sm" role="button" target="_blank"><i class="fab fa-codepen fa-2x"></i></a>
               <a href="" class="btn btn-default btn-sm" role="button" target="_blank"><i class="fab fa-github fa-2x"></i></a>
                    </button></a><br><br><br><br>

      </div>
          </div>
        </div>
      </div>
      </div>
      </div>

<br><br>
<div class="row">
  <div class="container">
    <div class="projects-sample">
      <div class="project-img col-sm-6 col-xs-9 col-xs-offset-1 col-sm-offset-0">
         <a href="https://codepen.io/naka33321/pen/bQpPEM?editors=0010" target="_blank" class="project">
              <img src="https://gdurl.com/pbX6" alt="" class="img-responsive img-thumbnail"></a>
              </div>
              <div class="projects-info col-sm-6 col-xs-9 col-xs-9 col-xs-offset-1 col-sm-offset-0">
                <h3>絶対に勝てないエアホッケー</h3>
                <p>絶対に勝てないエアホッケーです。</p>
                <p><span class="technologies-used">
                  <span class="label label label-default">Jquery</span>
                  <span class="label label-danger">HTML</span>
                  <span class="label label-primary">CSS</span></p>
                  <a href="https://codepen.io/naka33321/pen/bQpPEM?editors=0010" class="btn btn-default btn-sm" role="button" target="_blank"><i class="fab fa-codepen fa-2x"></i></a>
               <a href="" class="btn btn-default btn-sm" role="button" target="_blank"><i class="fab fa-github fa-2x"></i></a>
                  </button><br><br>
                  </div>
                  </div>
                 </div>
                 </div>
                 <br><br>
                 </div>
                 </div>


<div class="row">
  <div class="container">
    <div class="projects-sample">
      <br>
      <div class="projects-img col-sm-6 col-xs-9 col-xs-offset-1 col-sm-offset-0">
        <a href="#" target="_blank" class="project">
        <img src="https://gdurl.com/O00Y" alt="" id="img" class="img-responsive img-thumbnail" ></a>
      </div>
      <div class="project-info col-sm-6 col-xs-9 col-xs-offset-1 col-sm-offset-0" >
        <h3>お気に入りの映画サイト</h3>
        <p>javascriptとhtmlとcssとPythonでお気に入りの映画を集めたサイトを作成しました。画像をクリックするとYouTubeのその映画の予告が流れます。</p>
        <p>
          
          <span class="technologies-used">
            <span class="label label-danger">HTML</span>
            <span class="label label-primary">CSS</span>
            <span class="label label-Warning">JavaScript</span>
            <span class="label label-Info">Python</span>
            </p>
            <div class="projects-buttons">
               <a href="" class="btn btn-default btn-sm" role="button" target="_blank"><i class="fab fa-codepen fa-2x"></i></a>
               <a href="" class="btn btn-default btn-sm" role="button" target="_blank"><i class="fab fa-github fa-2x"></i></a>
              </a><br><br>
              </div>
      </div>
    </div>
  </div>
  <br><br>
  </div>
  </div>

<center>
<nav>
  <ul class="pagination">
    <li>
      <a href="/" aria-label="前のページへ">
        <span aria-hidden="true">«</span>
      </a>
    </li>
    <li><a href="/">1</a></li>
    <li><a href={{url_for('portfolio')}}>2</a></li>
    <li><a href={{ url_for('skil')}}>3</a></li>
    <li><a href={{url_for('contact')}}>4</a></li>
    <li>
      <a href={{url_for('skil')}} aria-label="次のページへ">
        <span aria-hidden="true">»</span>
      </a>
    </li>
    </ul>
    </nav>
    </center>

   <footer>
  <div class="container">
    <nav>
      <ul class="footer-list">
        <li><a href="https://lightyellowabandonedprinter--nakagawa333.repl.co/#about" id="footer-space"><i class="fas fa-address-card"></i>About</a></li>
        <li><a href="https://lightyellowabandonedprinter--nakagawa333.repl.co/#service" id="footer-space"><i class="fas fa-laptop"></i>Service</a></li>
        <li><a href="https://lightyellowabandonedprinter--nakagawa333.repl.co/#price" id="footer-space"><i class="fas fa-money-check-alt" ></i>Price</a></li>
        <li><a href="{{url_for('portfolio')}}" id="footer-space"><i class="fas fa-code" ></i>Portfolio</a></li>
        <li><a href="{{url_for('skil')}}" id="footer-space"><i class="fas fa-code" ></i>Skils</a></li>
        <li><a href="{{url_for('contact')}}" id="footer-space"><i class="far fa-address-book" ></i>Contact</a></li>
      </ul>
      </nav>
      <span>@2018 Sosei Nakagawa ALL rights reserved</span>
  </div>
</footer>
{% endblock %}

{% block styles %}
<style>
  #portfolio{
    margin-top:5%;
  }

  //フッター部分//
 ul{
  list-style:none;
}

.footer-list{
  display:flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style:none;
  align-content:center;
 }

 .footer-list a{
  margin:10px;
  color:white;
}



span{
  display:flex;
  justify-content: flex-end;
  color:white;
}

footer{
  background-color:#555555;
}

//ここまでフッター部分//




//ここまでフッター部分//

  @media screen and (max-width: 480px) { 
    #portfolio{
      margin-top:30%;
    }
  }

  @media screen and (min-width: 481px) and (max-width: 1200px){
    #portfolio{
      margin-top:10%;
    }
  }
  </style>
{% endblock %}